
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Initialize state
            let showSearchCriteria = false;

            // Reset form function
            function resetForm() {
                showSearchCriteria = false;
                $("#FROM_DTE").val("");
                $("#TO_DTE").val("");
                $("#RPT_TYPE").val("");
            }

            // Attach event handlers
            $("#resetButton").click(function () {
                resetForm();
            });

            $("#generateButton").click(function () {
                generateSubmitTicketReport();
            });

            // Example function for Generate button (adjust as needed)
            function generateSubmitTicketReport() {
                const fromDate = $("#FROM_DTE").val();
                const toDate = $("#TO_DTE").val();
                const reportType = $("#RPT_TYPE").val();

                if (!fromDate || !toDate || !reportType) {
                    alert("All fields are required.");
                } else {
                    // Implement your report generation logic here
                    alert("Report generation initiated.");
                }
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <h5>Submit Request Report</h5>
        <br />
        <div class="col-lg-12 col-md-12 col-sm-12 row">
            <fieldset class="col-lg-4 col-md-6 col-sm-12 col-xs-12 form-group">
                <label class="font-weight-bold" for="FROM_DTE">From Date(mm/dd/yyyy)*</label>
                <div class="input-group"><input type="text" class="form-control" name="FROM_DTE" id="FROM_DTE"></div>
            </fieldset>
            <fieldset class="col-lg-4 col-md-6 col-sm-12 col-xs-12 form-group">
                <label class="font-weight-bold" for="TO_DTE">To Date(mm/dd/yyyy)*</label>
                <div class="input-group"><input type="text" class="form-control" name="TO_DTE" id="TO_DTE"></div>
            </fieldset>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 form-group">
                <label class="font-weight-bold" for="RPT_TYPE">Report Type*</label>
                <div class="input-group">
                    <select style="line-height:19px" id="RPT_TYPE" name="RPT_TYPE">
                        <option value=""></option>
                        <option value="1">Summary</option>
                        <option value="2">Detail</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 row">
            <div class="col-lg-2 col-md-4 col-sm-12 form-group">
                <button type="button" value="Reset" id="resetButton" class="btn button -secondary btn-block">Reset</button>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 offset-md-8 offset-md-4 form-group pull-right">
                <button type="button" value="Submit" id="generateButton" name="Submit" class="btn button -primary btn-block">Generate</button>
            </div>
        </div>
    </div>
</body>
</html>


