@{ ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="col-12 form-group">
    <div class="callout success" role="alert">
        <p class="msg text-white">
            <b><i class="fa fa-check-circle" aria-hidden="true" text-align="left"></i> Your request has been submitted successfully.</b>
        </p>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 row d-flex justify-content-end">
    <button class="btn button -primary btn-block pull-right" style="margin: 0;" value="HjckIDSearch" id="btnok">Ok</button>
</div>

         
        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('#btnok').click(function () {
                        window.location.href = '/search';  // Redirect to the search controller
                    });
                });</script>
        }
